<ion-header>
  <ion-toolbar>
    <ion-title>
     Sky Practice
    </ion-title>

  </ion-toolbar>
</ion-header> -->

<ion-content fullscreen="true">
  <ion-img
  src="https://i.postimg.cc/7YhKGpqT/cielo.jpg"
  ></ion-img>/ion-img>
  

<div id="container">
  

    <ion-item lines="none">
      <ion-input label="Email:" labelPlacement="stacked" [clearOnEdit]="true" placeholder="Ingrese email" [(ngModel)]="email">
      </ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input label="Password" labelPlacement="stacked" type="password" placeholder="Ingrese  password" [(ngModel)]="password">
      </ion-input>
    </ion-item>

    <ion-button (click)="login(email, password)" shape="round" size="small">Login</ion-button>

    <ion-item class="Boton de Registro" lines="none" color="none">
      <ion-button (click)="register()">Registro</ion-button>
    </ion-item>
  </div>



</ion-content>