// #container{
   
//     background-color: red;
// }

#container {
    ion-input {
        // left: 5%;
        // right: 20%;
      font-size: 16px;
      line-height: 22px;
  
      color: #22d11c;
  
      margin: 0;
    }
  }